<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin dashboard</title>
</head>
<body>
    <h1>welcom in your dashboard</h1>
    <p>Username: {{username}}</p>

    <p>-------------------------------------------------------------</p>
    <p>Total Product: {{total_product}}</p>
    <p>Total Product: {{total_borrower}}</p>

    <p>-------------------------------------------------------------</p>
     
     <a href="/products/view" class="button">Manage Product</a>
     <a href="/groups/">Manage Groups</a>
     <a href="/officer/view/">Manage Officer</a>
    <br>



</body>
</html>