<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Officer dashboard</title>
</head>
<body>
    <h1>welcom in your dashboard</h1>
    <p>Username: {{username}}</p><br>
     <p>Password: {{password}}</p><br>
      <p>Name: {{name}}</p><br>


    <p>-------------------------------------------------------------</p>
    <p>Total Product: {{total_product}}</p><br>
   
<p>-------------------------------------------------------------</p>
  


</body>
</html>