<!DOCTYPE html>
<html>
<head>
    <title>Officer Dashboard</title>
</head>
<body>
    <h1>Welcome in your dashboard</h1>
    <p>Username: {{ username }}</p>
    <h2>My Assigned Groups</h2>
    
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Group Name</th>
                <th>Location</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for group in assign_group %}
            <tr>
                <td>{{ group.id }}</td>
                <td>{{ group.name }}</td>
                <td>{{ group.location }}</td>
                <td><a href="/officer/group/{{ group.id }}/borrowers/">Manage Members</a></td>
            </tr>

            {% endfor %}
        </tbody>
    </table>



    <h2>Available Products</h2>
    
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Amount</th>
                <th>Interest Rate (%)</th>
                <th>Total Installments</th>
                <th>Per Install Amount</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.amount }}</td>
                <td>{{ product.interest_rate }}%</td>
                <td>{{ product.total_installment }}</td>
                <td>{{ product.per_install_amount }}</td>
                <td><a href="#">Make Loan</a></td>
            </tr>
    
            {% endfor %}
        </tbody>
    </table>

</body>
</html>