<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Borrower dashboard</title>
</head>
<body>
    <h1>welcom in your dashboard</h1>
    <a href="/logout/">Logout</a>

    <p>Username: {{username}}</p>
      <p>Name: {{name}}</p>

    <p>Total Product: {{total_product}}</p><br>
   <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Amount</th>
                <th>Interest Rate (%)</th>
                <th>Total Installments</th>
                <th>Per Install Amount</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for p in products %}
            <tr>
                <td>{{ p.id }}</td>
                <td>{{ p.name }}</td>
                <td>{{ p.amount }}</td>
                <td>{{ p.interest_rate }}%</td>
                <td>{{ p.total_installment }}</td>
                <td>{{ p.per_install_amount }}</td>
                <td><a href=" ">Apply</a></td>
                
            </tr>
            {% endfor %}
        </tbody>
    </table>



</body>
</html>