<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login - Microfinance System</title>
</head>
<body>
    <h1>Microfinance Management System Using Django</h1>
    
    {% if messages %}
        {% for message in messages %}
            <p >{{ message }}</p>
        {% endfor %}
    {% endif %}
    
    <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        
        <label>Username:</label>
        <input type="text"  name="username" required>
        <br><br>
        
        <label>Password:</label>
        <input type="password" name="password" required>
        <br><br>
        
        <button type="submit">Login</button>
    </form>


</body>
</html>