<!DOCTYPE html>
<html>
<head>
    <title>Group List</title>
</head>
<body>
    <h1>Group List</h1>
    <a href="/my_admin/dashboard/">Dashboard</a><br>
    <a href="/groups/create/"> Add group</a>
    <br>
    
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Location</th>
            <th>Assigned Officer</th>
            <th>Created Time</th>
            <th>Action</th>
        </tr>
        {% for group in groups %}
        <tr>
            <td>{{ group.id }}</td>
            <td>{{ group.name }}</td>
            <td>{{ group.location }}</td>
            <td>
                {% if group.officer %}
                    {{ group.officer.name }}
                {% else %}
                    Not Assigned
                {% endif %}
            </td>

            <td>
                <a href="/groups/edit/{{ group.id }}/">Edit</a>
                <a href="/groups/delete/{{ group.id }}/">Delete</a>
            </td>
        </tr>

    
        {% endfor %}
    </table>
</body>
</html>